<table>
    {{#with results_table}}
    <tr>
        {{#each headers}}
        <th>{{this}}</th>
        {{/each}}
    </tr>
    {{#each rows}}
    <tr>
        {{#each this}}
        <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
    {{/with}}
</table>