table, th, td {
    border: 1px solid black;
}

th, td {
    height: 1em;
    width: 100px;
    background-color: white;
}

input {
    margin: 2px 2px 2px 2px;
}

.container {
    background-color: #f4f4f4;
    padding: 2px 10px 2px 10px;
    margin: 10px 2px 10px 2px;
}

#container_results_message {
    background-color: #ee0000;
    padding: 2px 10px 2px 10px;
    margin: 10px 2px 10px 2px;
    display: none;
    visibility: hidden;
}