<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="/static/common.js" defer></script>
        {{#each scripts}}
        <script src="/static/{{this}}" defer></script>
        {{/each}}
    </head>

    <body>
        <div>
            <a href="/home">Home</a>
            <a href="/users">Users</a>
            <a href="/recipes">Recipes</a>
            <a href="/food_items">FoodItems</a>
            <a href="/genres">Genres</a>
            <a href="/ingredients_table">IngredientsTable</a>
            <a href="/genres_table">GenresTable</a>
        </div>
        
        {{{body}}}
    </body>
</html>
