<h1>FoodItems</h1>
<p>View existing FoodItems data and insert new FoodItems.</p>

<div class="container">
    <h3>Insert FoodItem</h3>
    <form id="form_food_items_insert">
        <label for="name">Name:</label>
        <input type="text" name="name"><br>
        <label for="calorie">Calories:</label>
        <input type="text" name="calorie"><br>
        <input type="submit" value="INSERT new FoodItem">
    </form>
</div>
