<h1>Genres</h1>
<p>View existing Genres data and insert new Genres.</p>

<div class="container">
    <h3>Insert Genre</h3>
    <form id="form_genres_insert">
        <label for="name">Name:</label>
        <input type="text" name="name"><br>
        <input type="submit" value="INSERT new Genre">
    </form>
</div>
