<h1>GenresTable</h1>
<p>View existing Genre and FoodItem relationships and insert new FoodItems into Genres.</p>

<div class="container">
    <button type="button" class="collapsible"><h3>Insert FoodItem into Genre</h3></button>
    <div class="container_content">
        <form id="form_genres_table_insert">
            <label for="genre_id">Genre ID:</label>
            <select name="genre_id">
                {{#each genre_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <label for="food_item_id">FoodItem ID:</label>
            <select name="food_item_id">
                {{#each food_item_id_to_name}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="INSERT new FoodItem in Genres">
        </form>
    </div>
</div>
