<h1>Genres</h1>
<p>View existing Genres data and insert new Genres.</p>

<div class="container">
    <button type="button" class="collapsible"><h3>Insert Genre</h3></button>
    <div class="container_content">
        <form id="form_genres_insert">
            <label for="name">Name:</label>
            <input type="text" name="name"><br>
            <input type="submit" value="INSERT new Genre">
        </form>
    </div>
</div>
