<h1>IngredientsTable</h1>
<p>View existing Ingredients data, insert, or delete FoodItems from Recipes.</p>

<div class="container">
    <button type="button" class="collapsible"><h3>Insert FoodItem into Recipe</h3></button>
    <div class="container_content">
        <form id="form_ingredients_table_insert">
            <label for="recipe_id">Recipe ID:</label>
            <input type="text" name="recipe_id"><br>
            <label for="food_item_id">FoodItem ID:</label>
            <input type="text" name="food_item_id"><br>
            <label for="quantity">FoodItem Quantity:</label>
            <input type="text" name="quantity"><br>
            <input type="submit" value="INSERT new FoodItem into Recipe">
        </form>
    </div>
</div>

<div class="container">
    <button type="button" class="collapsible"><h3>Delete FoodItem from Recipe</h3></button>
    <div class="container_content">
        <form id="form_ingredients_table_delete">
            <label for="recipe_id">Recipe ID:</label>
            <input type="text" name="recipe_id"><br>
            <label for="food_item_id">FoodItem ID:</label>
            <input type="text" name="food_item_id"><br>
            <input type="submit" value="DELETE FoodItem from Recipe">
        </form>
    </div>
</div>
