<h1>IngredientsTable</h1>
<p>View existing Ingredients data, insert, or delete FoodItems from Recipes.</p>

<div class="container">
    <h3>Insert FoodItem into Recipe</h3>
    <form id="form_ingredients_table_insert">
        <label for="recipe_id">Recipe ID:</label>
        <input type="text" name="recipe_id"><br>
        <label for="food_item_id">FoodItem ID:</label>
        <input type="text" name="food_item_id"><br>
        <label for="quantity">FoodItem Quantity:</label>
        <input type="text" name="quantity"><br>
        <input type="submit" value="INSERT new FoodItem into Recipe">
    </form>
</div>

<div class="container">
    <h3>Delete FoodItem from Recipe</h3>
    <form>
        <label for="recipe_id">Recipe ID:</label>
        <input type="text"><br>
        <label for="food_item_id">FoodItem ID:</label>
        <input type="text"><br>
        <input type="submit" value="DELETE FoodItem from Recipe">
    </form>
</div>

<div class="container">
    <h3>IngredientsTable Data</h3>
    <table>
        <tr>
            <th>recipe_id</th>
            <th>food_item_id</th>
            <th>quantity</th>
        </tr>
        {{#each ingredients_table}}
        {{#with this}}
        <tr>
            <td>{{recipe_id}}</td>
            <td>{{food_item_id}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/with}}
        {{/each}}
    </table>
</div>
